
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read or write to any document in your database.
    // It is useful for development but is not secure for production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
